In [3]:
# Paso 0: Datos iniciales
users = [
    ['32415', ' mike_reed ', 32.0, ['ELECTRONICS', 'SPORT', 'BOOKS'], [894, 213, 173]],
    ['31980', 'kate morgan', 24.0, ['CLOTHES', 'BOOKS'], [439, 390]],
    ['32156', ' john doe ', 37.0, ['ELECTRONICS', 'HOME', 'FOOD'], [459, 120, 99]],
    ['32761', 'SAMANTHA SMITH', 29.0, ['CLOTHES', 'ELECTRONICS', 'BEAUTY'], [299, 679, 85]],
    ['32984', 'David White', 41.0, ['BOOKS', 'HOME', 'SPORT'], [234, 329, 243]],
    ['33001', 'emily brown', 26.0, ['BEAUTY', 'HOME', 'FOOD'], [213, 659, 79]],
    ['33767', ' Maria Garcia', 33.0, ['CLOTHES', 'FOOD', 'BEAUTY'], [499, 189, 63]],
    ['33912', 'JOSE MARTINEZ', 22.0, ['SPORT', 'ELECTRONICS', 'HOME'], [259, 549, 109]],
    ['34009', 'lisa wilson ', 35.0, ['HOME', 'BOOKS', 'CLOTHES'], [329, 189, 329]],
    ['34278', 'James Lee', 28.0, ['BEAUTY', 'CLOTHES', 'ELECTRONICS'], [189, 299, 579]],
]

# Paso 1: Evaluación de datos de un usuario específico
user_id = '32415'
user_name = ' mike_reed '
user_age = 32.0
fav_categories = ['ELECTRONICS', 'SPORT', 'BOOKS']

# Paso 2: Limpieza del nombre del usuario
user_name = user_name.strip()
user_name = user_name.replace('_', ' ')
print(user_name)

# Paso 3: División del nombre
user_name = 'mike reed'
name_split = user_name.split()
print(name_split)

# Paso 4: Conversión de tipo de dato de edad
user_age = 32.0
user_age = int(user_age)
print(user_age)

# Paso 5: Conversión con manejo de errores
user_age = 'treinta y dos'
try:
    user_age_int = int(user_age)
except ValueError:
    print("Please provide your age as a numerical value.")

# Paso 6: Ordenar usuarios por ID ascendente
users.sort(key=lambda x: int(x[0]))
print(users)

# Paso 7: Cálculo de gasto total por usuario
spendings_per_category = [894, 213, 173]
total_amount = sum(spendings_per_category)
print(total_amount)

# Paso 8: Cadena formateada con información del usuario
user_id = '32415'
user_name = ['mike', 'reed']
user_age = 32
user_info = f"User {user_id} is {user_name[0]} who is {user_age} years old."
print(user_info)

# Paso 9: Mostrar número de usuarios
user_count = len(users)
print(f"Hemos registrado datos de {user_count} clientes.")

mike reed
['mike', 'reed']
32
Please provide your age as a numerical value.
[['31980', 'kate morgan', 24.0, ['CLOTHES', 'BOOKS'], [439, 390]], ['32156', ' john doe ', 37.0, ['ELECTRONICS', 'HOME', 'FOOD'], [459, 120, 99]], ['32415', ' mike_reed ', 32.0, ['ELECTRONICS', 'SPORT', 'BOOKS'], [894, 213, 173]], ['32761', 'SAMANTHA SMITH', 29.0, ['CLOTHES', 'ELECTRONICS', 'BEAUTY'], [299, 679, 85]], ['32984', 'David White', 41.0, ['BOOKS', 'HOME', 'SPORT'], [234, 329, 243]], ['33001', 'emily brown', 26.0, ['BEAUTY', 'HOME', 'FOOD'], [213, 659, 79]], ['33767', ' Maria Garcia', 33.0, ['CLOTHES', 'FOOD', 'BEAUTY'], [499, 189, 63]], ['33912', 'JOSE MARTINEZ', 22.0, ['SPORT', 'ELECTRONICS', 'HOME'], [259, 549, 109]], ['34009', 'lisa wilson ', 35.0, ['HOME', 'BOOKS', 'CLOTHES'], [329, 189, 329]], ['34278', 'James Lee', 28.0, ['BEAUTY', 'CLOTHES', 'ELECTRONICS'], [189, 299, 579]]]
1280
User 32415 is mike who is 32 years old.
Hemos registrado datos de 10 clientes.